<!DOCTYPE html>
<html>
<title> PiWorld Main Menu </title>
<body>

Hello $userName <br>

<form action="" method="get">
  <br> Here are your villages: <br>
  #vName <input type="submit" name="#vId" value="View"> <br>
</form>

<br>

<form action="/map" method="get">
  <br> View world map: <br>
  <input type="submit" name="" value="World Map"> <br>
</form>

<br>

<form action="/logout" method="get">
  <br> Click here to log out: <br>
  <input type="submit" name="" value="Log Out"> <br>
</form>

Response processed in $processTime ms.
</body>
</html>
