<!DOCTYPE html>
<html>
<title> $villageName </title>
<body>
  Welcome to your village, $villageName. <br>
  This village is at $location. <br>
  This town has a population of $population. <br>

  <form action="/person" method="get">
    <br> Villagers: <br>
    #vName (#vJob) Hunger: #vHunger Health: #vHealth Status: #vStatus <input type="submit" name="#vId" value="Job"> <br>
  </form>

  <br>

  Buildings: <br>
  #buildings <br>

  <br> Inventory: $inventory <br>

  Percentage of new tile explored: $explorationPercent <br>

  <form action="/" method="get">
    <br> Click here to return to the main page. <br>
    <input type="submit" name="" value="Main Page">
  </form>

  Response processed in $processTime ms.
</body>
</html>
